body {
  margin: 0;
  min-height: 100vh;
  font-family: system-ui, sans-serif;

  background: linear-gradient(
    -45deg,
    #eeeeee,
    #d6d6d6,
    #cfcfcf,
    #f5f5f5
  );
  background-size: 400% 400%;
  animation: gradientMove 12s ease infinite;

  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
.bg-particle {
  position: fixed;
  top: -10px;
  width: 10px;
  height: 10px;
  background: rgba(255,255,255,0.8);
  border-radius: 50%;
  animation: fall linear infinite;
  z-index: 1;
}

@keyframes fall {
  to {
    transform: translateY(110vh);
    opacity: 0;
  }
}

.container {
  position: relative;
  z-index: 2;
}



.card {
  background: #f5f5f5;
  padding: 35px;
  border-radius: 18px;
  max-width: 440px;
  width: 100%;
  box-shadow: 0 20px 40px rgba(0,0,0,0.15);
  text-align: center;
}

.name {
  font-size: 16px;
  margin-bottom: 5px;
}

.countdown {
  margin: 10px 0 20px;
  font-size: 15px;
}

.music-btn {
  margin-bottom: 20px;
  background: #757575;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
}

.letter {
  background: #eeeeee;
  padding: 15px;
  border-radius: 12px;
  font-size: 14px;
  line-height: 1.6;
  margin-bottom: 20px;
}

.gallery {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-bottom: 20px;
}

.gallery img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 10px;
}

textarea {
  width: 100%;
  min-height: 90px;
  padding: 10px;
  border-radius: 10px;
}

button {
  margin-top: 10px;
  padding: 10px 20px;
  border-radius: 10px;
  background: #616161;
  color: white;
  border: none;
}

.saved {
  display: none;
  color: #388e3c;
  margin-top: 10px;
}

footer {
  margin-top: 25px;
  font-size: 12px;
  color: #777;
}
.dream-result {
  margin-top: 15px;
  padding: 12px;
  background: rgba(255,255,255,0.8);
  border-radius: 10px;
  font-size: 14px;
  line-height: 1.6;
  display: none;
}
